services:
  postgres-ea-nation:
    image: postgres:17.0
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - PGDATA=/var/lib/postgresql/data/ea-nation
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"

  dns:
    build: ./dns-server
    restart: unless-stopped
    ports:
      - "53:53/udp"
      - "53:53/tcp"

  ea-sslv2-stunnel:
    image: ghcr.io/a-blondel/ea-sslv2-stunnel/ea-sslv2-stunnel:latest
    restart: unless-stopped
    environment:
      - SSL_SERVICES=ps2nfs06:30900;pcnfs06:30920;pspnfs06:30980;pspnba06:30190;pspkok06:31570,31590;pspuefa06:31280,31290
      - REDIRECT_IP=${TCP_HOST_IP}
    ports:
      - "30901:30901" # ps2 nfs06 ssl (pal)
      - "30921:30921" # pc nfs06 ssl (ntsc)
      - "30981:30981" # psp nfs06 ssl (ntsc)
      - "30191:30191" # psp nba06 ssl (ntsc)
      - "31571:31571" # psp kok03 ssl (pal)
      - "31591:31591" # psp kok03 ssl (ntsc)
      - "31281:31281" # psp worldcup06 ssl (ntsc)
      - "31291:31291" # psp worldcup06 ssl (pal)

  ea-nation-server:
    image: ghcr.io/a-blondel/ea-nation-server/ea-nation-server:latest
    restart: unless-stopped
    environment:
      - DB_URL=jdbc:postgresql://postgres-ea-nation:5432/${DB_NAME}
      - DB_USERNAME
      - DB_PASSWORD
      - TCP_HOST_IP
      - TCP_DEBUG_ENABLED=false
      - TCP_DEBUG_EXCLUSIONS=~png,+snp
      - SSL_DEBUG_ENABLED=false
      - DNS_NAME=http://${DNS_NAME}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - LOGS=/var/log/ea-nation
    volumes:
      - app_logs:/var/log/ea-nation
    ports:
      - "80:80" # http services through Netty tunnel : EA ToS + Nintendo WFC (NWC)
      - "8080:8080" # master server APIs
      - "5000:5000" # buddy server (EA Messenger)
      - "10090:10090" # psp madden07 tcp (ntsc)
      - "10091:10091" # psp madden07 ssl (ntsc)
      - "10190:10190" # psp nba07 tcp (ntsc)
      - "10191:10191" # psp nba07 ssl (ntsc)
      - "10280:10280" # psp tw07 tcp (pal)
      - "10281:10281" # psp tw07 ssl (pal)
      - "10290:10290" # psp tw07 tcp (ntsc)
      - "10291:10291" # psp tw07 ssl (ntsc)
      - "10390:10390" # psp nhl07 tcp (global)
      - "10391:10391" # psp nhl07 ssl (global)
      - "10480:10480" # psp fifa07 tcp (pal)
      - "10481:10481" # psp fifa07 ssl (pal)
      - "10490:10490" # psp fifa07 tcp (pal)
      - "10491:10491" # psp fifa07 ssl (pal)
      - "10580:10580" # psp ncaa07 tcp (ntsc-1)
      - "10581:10581" # psp ncaa07 ssl (ntsc-1)
      - "10590:10590" # psp ncaa07 tcp (ntsc-2)
      - "10591:10591" # psp ncaa07 ssl (ntsc-2)
      - "10980:10980" # psp nfs07 tcp (pal)
      - "10981:10981" # psp nfs07 ssl (pal)
      - "10990:10990" # psp nfs07 tcp (ntsc)
      - "10991:10991" # psp nfs07 ssl (ntsc
      - "11180:11180" # psp moh07 tcp (pal)
      - "11181:11181" # psp moh07 ssl (pal)
      - "11190:11190" # psp moh07 tcp (ntsc)
      - "11191:11191" # psp moh07 ssl (ntsc)
      - "11270:11270" # psp uefa07 tcp (global)
      - "11271:11271" # psp uefa07 ssl (global)
      - "20080:20080" # psp madden08 tcp (pal)
      - "20081:20081" # psp madden08 ssl (pal)
      - "20090:20090" # psp madden08 tcp (ntsc)
      - "20091:20091" # psp madden08 ssl (ntsc)
      - "20190:20190" # psp nba08 tcp (ntsc)
      - "20191:20191" # psp nba08 ssl (ntsc)
      - "20280:20280" # psp tw08 tcp (pal)
      - "20281:20281" # psp tw08 ssl (pal)
      - "20290:20290" # psp tw08 tcp (ntsc)
      - "20291:20291" # psp tw08 ssl (ntsc)
      - "20490:20490" # psp fifa08 tcp (global)
      - "20491:20491" # psp fifa08 ssl (global)
      - "20980:20980" # psp nfs08 tcp (pal)
      - "20981:20981" # psp nfs08 ssl (pal)
      - "20990:20990" # psp nfs08 tcp (ntsc)
      - "20991:20991" # psp nfs08 ssl (ntsc)
      - "21180:21180" # psp moh08 tcp (pal)
      - "21181:21181" # psp moh08 ssl (pal)
      - "21190:21190" # psp moh08 tcp (ntsc)
      - "21191:21191" # psp moh08 ssl (ntsc)
      - "21170:21170" # wii moh08 tcp (pal)
      - "21171:21171" # wii moh08 ssl (pal)
      - "21120:21120" # wii moh08 tcp (ntsc)
      - "21121:21121" # wii moh08 ssl (ntsc)
      - "25090:25090" # psp madden10 tcp (ntsc)
      - "25091:25091" # psp madden10 ssl (ntsc)
      - "25290:25290" # psp tw10 tcp (global)
      - "25291:25291" # psp tw10 ssl (global)
      - "25490:25490" # psp fifa10 tcp (global)
      - "25491:25491" # psp fifa10 ssl (global)
      - "28390:28390" # psp worldcup10 tcp (global)
      - "28391:28391" # psp worldcup10 ssl (global)
      - "30080:30080" # psp madden09 tcp (pal)
      - "30081:30081" # psp madden09 ssl (pal)
      - "30090:30090" # psp madden09 tcp (ntsc)
      - "30091:30091" # psp madden09 ssl (ntsc)
      - "30190:30190" # psp nba06 tcp (ntsc)
      - "30490:30490" # psp fifa09 tcp (global)
      - "30491:30491" # psp fifa09 ssl (global)
      - "30900:30900" # ps2 nfs06 tcp (pal)
      - "30920:30920" # pc nfs06 tcp (ntsc)
      - "30980:30980" # psp nfs06 tcp (global)
      - "30990:30990" # psp nfs09 tcp (global)
      - "30991:30991" # psp nfs09 ssl (global)
      - "31280:31280" # psp worldcup06 tcp (ntsc)
      - "31290:31290" # psp worldcup06 tcp (pal)
      - "31570:31570" # psp kok03 tcp (pal)
      - "31590:31590" # psp kok03 tcp (ntsc)

  mohh-gps:
    image: ghcr.io/a-blondel/mohh-gps-docker/mohh-gps-docker:latest
    restart: unless-stopped
    privileged: true
    environment:
      - GPS_NAME=${GPS_NAME}
      - GPS_PWD=${GPS_PWD}
      - GPS_ADM_PWD=${GPS_ADM_PWD}
      - GPS_PORT=3662
      - GPS_INSTANCES=5
    ports:
      - "3662-3667:3662-3667/udp" # GPS UDP ports
      - "3692-3697:3692-3697/udp" # GPS UDP ping ports
    extra_hosts:
      - "pspmoh07.ea.com:${TCP_HOST_IP}"

  mohh-uhs:
    image: ghcr.io/a-blondel/mohh-uhs-docker/mohh-uhs-docker:latest
    restart: unless-stopped
    privileged: true
    environment:
      - UHS_NAME=${GPS_NAME}
      - UHS_PWD=${GPS_PWD}
      - UHS_ADM_PWD=${GPS_ADM_PWD}
      - UHS_PORT=3668
      - UHS_LOC=${GPS_LOC}
    ports:
      - "3668-3677:3668-3677/udp" # UHS UDP ports
      - "3698-3707:3698-3707/udp" # UHS UDP ping ports
    extra_hosts:
      - "pspmoh07.ea.com:${TCP_HOST_IP}"

  ea-nation-bot:
    image: ghcr.io/a-blondel/ea-nation-bot/ea-nation-bot:latest
    restart: unless-stopped
    environment:
      - DB_URL=jdbc:postgresql://postgres-ea-nation:5432/${DB_NAME}
      - DB_USERNAME
      - DB_PASSWORD
      - DNS_NAME=${DNS_NAME}
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - REPORTS_PATH=/var/log/ea-nation/reports
      - ENABLE_BOT_ACTIVITY=true
      - ENABLE_EVENTS=true
    volumes:
      - app_logs:/var/log/ea-nation

volumes:
  db_data:
  app_logs:
