name: EA Nation Server deployment pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        options:
          - vps
          - ablondel
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Generate .env
      run: |
        echo DB_USERNAME=${{ secrets.DB_USERNAME }} >> .env
        echo DB_PASSWORD=${{ secrets.DB_PASSWORD }} >> .env
        echo DB_NAME=ea-nation_db >> .env
        echo DB_PORT=5432 >> .env
        echo TCP_HOST_IP=${{ secrets.SERVER_IP }} >> .env
        echo GPS_NAME=${{ secrets.GPS_NAME }} >> .env
        echo GPS_PWD=${{ secrets.GPS_PWD }} >> .env
        echo GPS_ADM_PWD=${{ secrets.GPS_ADM_PWD }} >> .env
        echo GPS_LOC=${{ secrets.GPS_LOC }} >> .env
        echo DNS_NAME=${{ secrets.DNS_NAME }} >> .env
        echo MAIL_USERNAME=${{ secrets.MAIL_USERNAME }} >> .env
        echo MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }} >> .env
        echo DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }} >> .env

    - name: Generate dnsmasq.conf
      run: |
        cat << EOF > dns-server/dnsmasq.conf
        address=/pspuefa06.ea.com/${{ secrets.SERVER_IP }}
        address=/pspuefa07.ea.com/${{ secrets.SERVER_IP }}
        address=/pspworldcup10.ea.com/${{ secrets.SERVER_IP }}
        address=/pspfifa07.ea.com/${{ secrets.SERVER_IP }}
        address=/ps2fifa07.ea.com/${{ secrets.SERVER_IP }}
        address=/pspfifa08.ea.com/${{ secrets.SERVER_IP }}
        address=/ps2fifa08.ea.com/${{ secrets.SERVER_IP }}
        address=/pspfifa09.ea.com/${{ secrets.SERVER_IP }}
        address=/pspfifa10.ea.com/${{ secrets.SERVER_IP }}
        address=/pspkok06.ea.com/${{ secrets.SERVER_IP }}
        address=/pspmadden07.ea.com/${{ secrets.SERVER_IP }}
        address=/pspmadden08.ea.com/${{ secrets.SERVER_IP }}
        address=/pspmadden09.ea.com/${{ secrets.SERVER_IP }}
        address=/pspmadden10.ea.com/${{ secrets.SERVER_IP }}
        address=/pspmoh07.ea.com/${{ secrets.SERVER_IP }}
        address=/pspmoh08.ea.com/${{ secrets.SERVER_IP }}
        address=/wiimoh08.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnba06.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnba07.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnba08.ea.com/${{ secrets.SERVER_IP }}
        address=/pspncaa07.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnhl07.ea.com/${{ secrets.SERVER_IP }}
        address=/pcnfs06.ea.com/${{ secrets.SERVER_IP }}
        address=/ps2nfs06.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnfs06.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnfs07.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnfs08.ea.com/${{ secrets.SERVER_IP }}
        address=/pspnfs09.ea.com/${{ secrets.SERVER_IP }}
        address=/psptw07.ea.com/${{ secrets.SERVER_IP }}
        address=/psptw08.ea.com/${{ secrets.SERVER_IP }}
        address=/psptw10.ea.com/${{ secrets.SERVER_IP }}
        address=/tos.ea.com/${{ secrets.SERVER_IP }}
        address=/naswii.nintendowifi.net/${{ secrets.SERVER_IP }}
        EOF

    - name: Clean remote directory
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: rm -rf /var/www/ea-nation-server/*

    - name: Copy project files to remote server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        source: "."
        target: "/var/www/ea-nation-server"

    - name: Login to GitHub Docker Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GH_USERNAME }}
        password: ${{ secrets.GH_TOKEN }}

    - name: Run Docker Compose on remote server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd /var/www/ea-nation-server
          source .env
          docker compose down --remove-orphans
          docker compose pull
          docker compose up --build -d
